<div class="user-show-container">
  <!-- sidebar
  <div class="sidebar-container-blank">
    <div class="sidebar-container">

    </div>
  </div>
  -->
  <div class="show-center">
    <div class="introduce-wrapper">
      <div class="profile-image">
        <img id="profile-image" src="<%= "/user_images/#{@user.image_name}" %>" alt="">
        <% if @current_user.id != @user.id  %>
        <div id="follow-btn-container">
          <%= render partial: "followers/user_follow_recomend", locals: { user: @user } %>
        </div>
        <% end %>
      </div>
      <div class="my info">
        <div class="user_info">
          <p>name: <%= @user.name %></p>
          <p>id: <%= @user.id %></p>
          <p>フォロー <%= @user.follow_count %> フォロワー <%= @user.follower_count %></p>
          <div class="introduce">
            <p>はじめまして</p>
          </div>
        </div>
      </div>
      <!-- <div class="my hobby">
        <p>i'm</p>
        <textarea></textarea>
        <p>like</p>
        <textarea></textarea>
      </div> -->


    </div>
    <div class="users-show-menubar item">
      <div class="menu-icon">
        <div class="menu-icon-selected"></div>
        <span>アクション</span>
      </div>
      <div class="menu-icon">
        <div class="menu-icon-selected"></div>
        <span>投稿</span>
      </div>
      <div class="menu-icon">
        <div class="menu-icon-selected"></div>
        <span>メディア</span>
      </div>
    </div>

    <div id='show-center'>
      <% @user.posts.each do |post| %>
        <%= render partial: "posts/post_temp", locals: { item: post } %>
      <% end %>
    </div>
  </div>
</div>
