<div class="show-center">

  <div class="board-item">
    <div class="board-top">

        <%= link_to("/users/#{@board.user_id}",{class: "user-image-link"}) do %>
        <img class="user-image" src="<%= "/user_images/#{@board.user.image_name}" %>">
        <% end %>
        <p><%= link_to("#{@board.user.name}", "/users/#{@board.user_id}") %> </p>

    </div>
    <div class="board-middle">
      <p><%= @board.content %></p>
    </div>
    <% if @board.image_name1 %>
    <div class="board-images">
      <img src="<%= "/board_images/#{@board.image_name1}" %>">
    </div>
    <% end %>
    <div class="board-bottom">

      <div id="board-like-<%= @board.id %>" class="up-down">
        <%= render partial: "boards/board_like", locals: { board: @board } %>
      </div>

      <div class="reponses-count">
        <span class="far fa-comment"></span>
        <p id="responses-count"><%= @board.responses.count %></p>
      </div>

    </div>
    <div class="send-response">
      <%= form_tag "/responses/#{@board.id}/create", id: "send-response", remote: true do %>
      <textarea placeholder="書き込む" name="content" rows="5"></textarea>
      <div class="send-wrapper">
        <input id="send-btn-response" class="unshow"  type="submit">
        <label class="send-btn" for="send-btn-response"><i class="fa fa-pencil-alt" > 送信</i></label>
      </div>
      <% end %>
    </div>
  </div>

  <div id="reponses-create" class="response-wrapper">
    <%= render partial: "boards/responses", locals: { board: @board } %>
  </div><!-- response-wrapper -->
</div><!-- show-center -->
