
<div class="show-container">
  <div class="user-info">
    <object>
      <%= link_to("/users/#{@post.user_id}",{class: "user-image-link"}) do %>
      <img class="user-image" src="/user_images/5_1">
      <% end %>
    </object>
    <object><p><%= link_to("#{@post.user.name}", "/users/#{@post.user_id}") %> </p></object>
    <p1><%= @post.created_at %></p1>
  </div>


  <div class="post-images">
    <% if @post.image_name2 && @post.image_name1 %>
    <div class="image-division left">
      <img class="plural-image" src="<%= "/post_images/#{@post.image_name1}" %>">
      <% if @post.image_name3 %>
      <img class="plural-image" src="<%= "/post_images/#{@post.image_name3}" %>">
      <% end %>
    </div>
    <div class="image-division right">
      <img class="plural-image" src="<%= "/post_images/#{@post.image_name2}" %>">
      <% if @post.image_name4 %>
      <img class="plural-image" src="<%= "/post_images/#{@post.image_name4}" %>">
      <% end %>
    </div>
    <% elsif @post.image_name1 %>
    <img class="single-image" src="<%= "/post_images/#{@post.image_name1}" %>">
    <% end %>

  </div>

  <div class="post-info">
    <p>"<%= @post.content  %>"</p>
    <span class="fa fa-heart"></span>
    <span class="fa fa-comment"></span>
    <% if @post.user_id == @current_user.id %>
    <%= link_to("/posts/#{@post.id}/edit") do %>
    <span class="fa fa-edit"></span>
    <% end %>
    <% end %>
  </div>
</div>
